/ = link_to 'icon追加', icons_path
/ |
/ = link_to 'top', root_path

%br
%br
%br
.icons
  - Icon.all.each do |icon|
    %span.ticon{ data: { icon_id: icon.id } }
      = image_tag(icon.image.thumb.url, size: '100x100')
%br
%br
.ticon-input

%form{ role: 'form' }
  .form-group
    English
    %textarea#body_en
  .form-group
    日本語
    %textarea#body_ja
  .form-group
    %a.btn.btn-primary#create_sentence 例文を作成
